body{
    background-color: #10002b;
}
/*Estilos header*/
header{
    background-color: #240046;
    border: solid 3px #E0AAFF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

header:hover{
    box-shadow: 0px 0px 6px #ddff00fe;
}

h1{
    margin: 0;
    font-family: Montserrat;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

nav{
    background-color: #E0AAFF;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

nav>a{
    text-decoration: none;
    font-family: Hind Madurai;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: #10002b;
}

nav>a:hover{
    box-shadow: 0px 0px 5px #ddff00fe;
}

/*Estilos main*/
main{
    background-color: #240046;
    border: solid 3px #E0AAFF;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

main:hover{
    box-shadow: 0px 0px 6px #ddff00fe;
}

main>p{
    margin: 0px;
    color: white;
    font-family: Hind Madurai;
}

h2{
    margin: 0;
    font-family: Montserrat;
    color: white;
}

section{
    background-color: #E0AAFF;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
}

section>p{
    margin: 0;
    font-family: Hind Madurai;
}

:is(.cambio){
    background-color: #10002b;
    color: white;
    font-family: Hind Madurai;
    padding: 5px;
    border: dotted 2px #E0AAFF;
    border-radius: 5px;
}

:where(.cambioColor2){
    background-color: #10002b;
    color: white;
    font-family: Hind Madurai;
    padding: 5px;
    border: dashed 2px #E0AAFF;
    border-radius: 5px;
}

div:has(.ejemploHas){
    background-color: #10002b;
    color: white;
    font-family: Hind Madurai;
    padding: 5px;
    border: solid 2px #E0AAFF;
    border-radius: 5px;
}

div:has(+ .ejemploHas){
    width: 100px;
    height: 100px;
    background-color: #240046;
}

/*Estilos footer*/
footer{
    background-color: #240046;
    text-align: center;
    margin: 5px;
    border: solid 3px #E0AAFF;
    border-radius: 10px;
}

footer:hover{
    box-shadow: 0px 0px 6px #ddff00fe;
}

img{
    background-color: #E0AAFF;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin: 5px;
}

footer>img:hover{
    box-shadow: 0px 0px 10px #ddff00fe;
}