body{
    margin: 0;
    background-image: url(../../Iconos/fondoNegro.jpg);
}

/*Estilos encabezado*/
.encabezado{
    background: linear-gradient(#3c3e3f,#131314);
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    border-bottom: solid #016fae 3px;
    z-index: 1;
}

.titulo{
    font-family: Montserrat;
    color: #016fae;
    text-align: center;
}

/*Estilos cuerpo*/
.cuerpo{
    margin: 11vh 0 11vh 0;

}

.parrafo{
    color: #ffff;
    font-family: Hind Madurai;
    text-align: left;
}

.codigo{
    background-color: #000;
    color: #ffff;
    width: fit-content;
    padding: 1%;
    border-radius: 10px;
    margin: auto;
    text-align: left;
}

.imagen{
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin: 5px;
    bottom: 0;
    border: solid 3px #3c3e3f;
}

.articulo{
    text-align: center;

}


.imagen--fill{
    object-fit: fill;
}

.imagen--contain{
    object-fit: contain;
}

.imagen--cover{
    object-fit: cover;
}

.imagen--none{
    object-fit: none;
}

.imagen--scaleDown{
    object-fit: scale-down;
}

.imagen--center{
    object-fit: scale-down;
    object-position: center;
}

.imagen--top{
    object-fit: scale-down;
    object-position: top;
}

.imagen--left{
    object-fit: scale-down;
    object-position: left;
}

.imagen--bottom{
    object-fit: scale-down;
    object-position: bottom;
}

.imagen--right{
    object-fit: scale-down;
    object-position: right;
}

.imagen--pixeles{
    object-fit: scale-down;
    object-position: 20px 100px;
}

.imagen--porcentajes{
    object-fit: scale-down;
    object-position: 10% 20%;
}

.imagen--combiancion{
    object-fit: scale-down;
    object-position: top left;
}

.imagen--combinacionPorcentaje{
    object-fit: scale-down;
    object-position: bottom 1%;
}

/*Estilos pie de pagina*/

.pieDePagina{
    background: linear-gradient(#131314,#3c3e3f);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    border-top: solid #016fae 3px;
}

.menu{
    width: 100%;
    height: 100%;
    text-align: center;
}

.enlace{
    height: 80%;
    width: 20%;
}

.enlace__icono{
    height: 60%;
    padding: 1%;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 1s;
}

.enlace__icono:hover{
    transform: scale(1.5);
}

