@font-face {
    font-family: "Pablo";
    src: url(tipografias/Tiny5-Regular.ttf) format("truetype");
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.parrafoGoogleFonts{
    font-family: Roboto;
}

.parrafoFuenteDefinida{
    font-family: Pablo;
}

