body{
    background-color: #818479;
}

h1{
    font-family: Montserrat;
    text-align: center;
    background-color: #E7E08B;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #D2E4C4;
}

p{
    font-family: Hind Madurai;
    margin-left: 2%;
}

img{
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #D2E4C4;
}