body{
    background-color: #9B5DE5;
}

/*Estilos encabezado*/
.encabezado{
    background-color: #F15BB5;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;

}

.encabezado__titulo{
    font-family: Montserrat;
    text-align: center;
    margin: 4px;
}

.menu{
    text-align: center;
}

.menu__enlace{
    background-color: #9B5DE5;
    font-family: Hind Madurai;
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 3px;
}

/*Estilos cuerpo*/
.cuerpo{
    background-color: #F15BB5;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.cuerpo__parrafo{
    font-family: Hind Madurai;
}

.seccion{
    background-color: #9B5DE5;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.seccion__titulo{
    font-family: Montserrat;
    margin: 0;
}

.seccion__parrafo{
    font-family: Hind Madurai;
    margin: 0;
}

.lista{
    font-family: Hind Madurai;
}

.lista--block{
    display: block;
}

.lista__item--inline{
    display: inline;
}

.lista__item--inlineBlock{
    display: inline-block;
}

.lista--none{
    display: none;
}

/*Estilos footer*/
.pieDePagina{
    background-color: #F15BB5;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.pieDePagina__imagen{
    background-color: #9B5DE5;
    border-radius: 50%;
}